<section>
  <div class="container flex justify-center items-center py-20 mx-auto">
    <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8  ">
      <h2 class="text-gray-900 text-lg font-medium title-font mb-5">Log in</h2>
      <form [formGroup]="myloginForm" (ngSubmit)="getLoginData()">
      <!-- <form  (ngSubmit)="getLoginData()"> -->
        <div class=" mb-4">
        <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
        <input type="email" formControlName="email" id="email" name="email" class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <div class=" mb-4">
        <label for="Password" class="leading-7 text-sm text-gray-600">Password</label>
        <input type="text" formControlName="password" id="Password" name="password" class="w-full bg-white rounded border border-gray-300 focus:border-red-500 focus:ring-2 focus:ring-red-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <button class="text-white bg-red-500 border-0 py-2 px-8 focus:outline-none hover:bg-red-600 rounded text-lg">Log in</button>
      <p class="text-xs text-gray-500 mt-3">Not Registered ? <span ><a class="text-red-600 font-semibold" routerLink="/signup"> Sig up</a> Here</span>.</p>
    </form>
  </div>
  </div>
</section>
